* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* navigation */
nav.main-nav {
  background: #fff;
  font-weight: bolder;
}
.logo {
  height: 10%;
  width: 10%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #00f5a0;
  background-color: none !important;
  transition: hover 0.1s ease-in-out;
}

.nav-link:hover {
  text-decoration: none;
  color: #00f5a0;
}
/* End of navigation */

/* home */
.home {
  background: linear-gradient(to right, #56bd60, #fff);
  min-height: 60vh;
}

.carousel-indicators [data-bs-target] {
  background-color: #fff; /* Remove the background color */
  border: 1px solid #007bff; /* Border color for the circle */
  font-weight: bolder;
  border-radius: 100%; /* Make it a circle */
  border-color: aqua;
  width: 10px; /* Adjust the width of the circle */
  height: 10px; /* Adjust the height of the circle */
  margin: 0 3px;
}

.carousel-indicators .active {
  background-color: forestgreen; /* Change the color of the active indicator */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
  font-weight: bolder;
}

.carousel-item {
  height: 60vh;
  width: 50vw;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

.intro button,
.donate button {
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

.intro button,
.donate button:hover {
  background-color: aquamarine;
  opacity: 0.7;
  color: rgb(60, 48, 48);
  transition: 0.1s all ease-in;
}

img,
svg {
  height: 50px;
  width: 50px;
  color: #00f5a0;
}

a.icon svg {
  height: 30px;
  width: 30px;
}
.fa-right {
  color: black;
}

.workshops {
  font-weight: bolder;
  padding: 2rem 6rem;
}

/* footer */

.footer {
  background: #142a19;
}

.logo2 {
  border-radius: 50%;
}
/* End of home */

/* hero*/
.hero-img {
  position: relative;
}

.hero-img img.img-1 {
  width: 85%;
  height: auto;
  border-radius: 5px;
}

.hero-img img.img-2 {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-20%, 50%);
  width: 50%;
  height: 50%;
  border-radius: 5px;
  object-fit: cover;
}

/* end of hero */

/* background */
ul.objectives {
  list-style-type: circle;
}

ul.objectives li {
  margin-top: 2rem;
}

.founder {
  color: #00f5a0;
}

.founder:hover {
  text-decoration: none;
  color: #00f5a0;
}
/* end of background */

/* banner */
.donation-banner {
  background-color: #142a19;
  padding: 4rem;
}
/* end of banner */

/* vision */
.vision {
  background-color: #00f5a0;
  display: inline-block;
  transform: translateX(100%);
  padding: 2rem;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

/* end of vision */
/* mission */
.mission {
  background-color: #00f5a0;
  display: inline-block;
  padding: 2rem;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}
/* end of mission */

/* sponsors */
.sponsors {
  background-image: url("./assets/about-us2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
/* end of sponsors */

/* media queries */
/* mobile */

@media (max-width: 480px) {
  /* home */
  div.container {
    position: relative;
  }
  span.navbar-toggler-icon {
    position: absolute;
    top: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    color: #56bd60;
  }

  img.logo {
    height: 25px;
    width: 25px;
  }

  .intro button {
    font-size: 1rem;
    margin: 1rem 0;
    color: #fff;
  }

  .carousel-item img {
    width: auto;
  }

  .logo-signature {
    align-items: center;
  }


  .home-pointer {
    display: none;
  }
  /* end of home */

  /* vision */
  .img-1{
   margin: 1.2rem auto;
  }
  .title{
    color: #00f5a0;
  }

  p.vision{
    display: flex;
    justify-content: center;
    transform: translateX(0);
    width: 300px;
    margin: 0.2rem auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  /* end of vision */
}

/* ipads */
@media (max-width: 767px) {
  div.container {
    position: relative;
  }
  span.navbar-toggler-icon {
    position: absolute;
    top: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    color: #56bd60;
  }

  img.logo {
    height: 25px;
    width: 25px;
  }

  .intro button {
    font-size: 1.1rem;
    margin: 1rem 0;
    color: #fff;
    margin-bottom: 1.2rem;
  }

  .carousel-item img {
    width: auto;
  }

   /* vision */
   .img-1{
    margin: 1.2rem auto;
   }
   .title{
     color: #00f5a0;
   }
 
   p.vision{
     display: flex;
     justify-content: center;
     transform: translateX(0);
     width: 300px;
     margin: 0.2rem auto;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
   }
   /* end of vision */
}
